@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Source+Sans+Pro:200');

:root {
    --color-light: #eaeaea;
    --color-dark: #373334;
    --font-primary: 'Libre Baskerville', serif;
    --font-secondary: 'Source Sans Pro', sans-serif;
}

::selection {
    outline: none;
}

body,html {
    background-color: var(--color-light);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    min-height: 100%;
    justify-content: center;
}

.container {
    max-width: 600px;
}

.container:hover .redacted {
    box-shadow: inset 0 0 0 var(--color-dark);
}

h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    display: inline-block;
}

.redacted {
    -webkit-box-decoration-break: clone;
    box-shadow: inset -1000px 0 0 var(--color-dark);
    transition: box-shadow 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}